<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="log_dir" value="/data/web_log/java/bruce-common"/>
    <property name="default_log" value="${log_dir}/default"/>
    <property name="error_log" value="${log_dir}/error"/>
    <!-- 日志格式 -->
    <property name="LOG_PATTERN"
              value="%date{HH:mm:ss.SSS}, [%X{X-B3-TraceId:-} %X{X-B3-SpanId:-}] [%thread] %-5level [%marker] %logger{36} %method:%L - %msg %n"/>

    <conversionRule conversionWord="msg" converterClass="com.bruce.common.log.ConversionRule"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="common-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${error_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${error_log}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${default_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${default_log}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>360</maxHistory>
            <totalSizeCap>80GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name="async-default" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="default"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="com.netflix.discovery" level="ERROR"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>

    <!-- ROOT -->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="async-default"/>
        <appender-ref ref="common-error"/>
    </root>

</configuration>